{% extends "base.html" %}
{% block title %}CATEGORY CMS{% endblock %}
    {% block main %}
    <!-- Render flashed messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <center><b>{{ message }}</b></center>
                {% endfor %}
        {% endif %}
    {% endwith %}
        <div>
            <div class="text-bg-info p-2" style="font-family:Algerian;">
            <a href='/admin_category_add' type="button" style="float:right;" class="btn btn-dark mx-2 my-2">&nbsp;&nbsp;Add&nbsp;&nbsp;</a>
            <h1><center><u>CATEGORIES</u></center></h1>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4 my-2 mx-2">
            {%for i in all_categories %}
                <div class="col" id="mv">
                <div class="card">
                    <a href="/admin_product_cms/{{i.id}}"><img src="{{i.image}}" height="225px" class="card-img-top" alt="{{i.name}}"></a>
                    <div class="card-body">
                    <center><h5 class="card-title">{{i.name}}</h5></center>
                    <a href='/admin_category_edit/{{i.id}}' type="button" style="float:left;" class="btn btn-success">Update</a>
                    <a href='/admin_category_delete/{{i.id}}' type="button" style="float:right;" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this category?')">Delete</a>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}