{% extends "base.html" %}
{% block title %}EXPLORE CATEGORIES{% endblock %}
    {% block main %}
    <div>
        <div class="p-2" style="font-family:Times New Roman;">
        <a href='/cart' type="button" style="float:right;" class="btn btn-dark mx-2 my-2">&nbsp;&nbsp;Go to Cart&nbsp;&nbsp;</a>
        <h1 style="font-size: 3rem; padding-left:100px; padding-top: 10px;"><center> CATEGORIES </center></h1>
    </div>
        <div class="row row-cols-1 row-cols-md-4 g-4 my-2 mx-2">
            {%for i in all_categories %}
                <div class="col" id="mv">
                <div class="card">
                    <a href='/product/{{i.id}}' method='get'><img src="{{i.image}}" height="225px" class="card-img-top" alt="{{i.name}}"></a>
                    <div class="card-body">
                    <center><h5 class="card-title">{{i.name}}</h5></center>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %} 
