{% extends "base.html" %}
{% block title %}SEARCH FOR CATEGORY/PRODUCT{% endblock %}
    {% block main %}
    <center>
    <br><br>
    <h3><b><u>Search for "{{ query }}"</u></b></h3><br><br>
    </center>
    {% if results %}
        <div class="row row-cols-1 row-cols-md-4 g-4 my-2 mx-2">
            {% for i in results %}
            <form action="/add_to_cart_search/{{i.id}}", method="POST">
                <input type="text" value="{{ query }}" name="query" hidden/>
                <div class="col" id="mv">
                <div class="card">
                    <a href='/product/{{i.id}}'><img src="{{i.image}}" height="225px" class="card-img-top" alt="{{i.name}}"></a>
                    <div class="card-body">
                    <!-- <p class="card-title">id: {{i.id}}</p> -->
                    <p class="card-title" style="float:right;"><b>₹{{i.price_per_unit}}</b>/{{i.unit}}</p>
                    <p class="card-title"><b>{{i.name}}</b></p>
                    <!-- <p class="card-title">category: {{i.category}}</p> -->
                    <p class="card-title" style="float:right;">{{i.brand}}</p>
                    <div class="col-md-3 col-lg-3 col-xl-2">
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fas fa-minus"></i>
                        </button>
              
                        <input id="form1" min="0" name="quantity" value="1" type="number"
                          class="form-control form-control-sm" />
              
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <!-- <p class="card-title">mfg_date: {{i.mfg_date}}</p> -->
                    <p class="card-title" style="float:left;">exp_date: {{i.exp_date}}</p>
                    <!-- <p class="card-title">unit: {{i.unit}}</p> -->
                    <!-- <p class="card-title">qty: {{i.qty}}</p> -->
                    <button type="submit" style="float:right;" class="btn btn-dark">Add to cart</button>
                    </div>
                </div>
                </div>
            </form>
            {% endfor %}
        </div>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    {% endblock %}
